textarea[readonly] {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

textarea:not([readonly]) {
  background-color: white;
  cursor: text;
}

@media (max-width: 768px) {
  .button {
    flex: 100%;
    margin: 0.5em
  }
}

footer {
  position: sticky;
  padding: 0.5rem 1.5rem;
}
